In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
ds=pd.read_csv("C:/Users/User/Downloads/My works/Spam Detection in mail using NB/spam.csv",encoding='unicode_escape')

In [4]:
ds.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
ds.isnull().sum()

Category    0
Message     0
dtype: int64

In [6]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5570 non-null   object
 1   Message   5570 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
ds.shape

(5570, 2)

In [8]:
ds.columns

Index(['Category', 'Message'], dtype='object')

In [9]:
ds['Category']=ds['Category'].astype('category')
ds['Category']=ds['Category'].cat.codes

In [10]:
ds.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [11]:
ds.columns

Index(['Category', 'Message'], dtype='object')

In [12]:
x_train,x_test,y_train,y_test=train_test_split(ds.Message,ds.Category,test_size=0.2)

In [13]:
x_train

3164    Cheers for the card ... Is it that time of yea...
3833           Watching tv lor. Nice one then i like lor.
1722    Hi Jon, Pete here, Ive bin 2 Spain recently & ...
2727    Urgent Please call 09066612661 from landline. ...
5089       No no. I will check all rooms befor activities
                              ...
3391                      What r u cooking me for dinner?
5015        Hey gals...U all wanna meet 4 dinner at n√¨te?
880     see, i knew giving you a break a few times wou...
3827    Where are you ? What are you doing ? Are yuou ...
1222        Rofl betta invest in some anti aging products
Name: Message, Length: 4456, dtype: object

In [14]:
y_train

3164    0
3833    0
1722    0
2727    1
5089    0
       ..
3391    0
5015    0
880     0
3827    0
1222    0
Name: Category, Length: 4456, dtype: int8

In [19]:
x_train.shape

(4456,)

In [20]:
x_test.shape

(1114,)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
x_train_count=vectorizer.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
x_train_count.shape

(4456, 7818)

In [23]:
y_train[:5]

3164    0
3833    0
1722    0
2727    1
5089    0
Name: Category, dtype: int8

In [24]:
y_train.shape

(4456,)

In [25]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [33]:
emails=['Hi Neethu lets get together and watch a movie',
       'Exclusive offer 50% on parking just for you.',
       'Hi Neethu lets get together and watch a movie',
       'Exclusive offer 50% on parking just for you.',
       'Oh k...im watching here:',
        'WINNER!! As a valued network customer you have been selected to receivea ¬£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.'
]

In [34]:
emails_count=vectorizer.transform(emails)
model.predict(emails_count)

array([0, 1, 0, 1, 0, 1], dtype=int8)

In [28]:
x_test_count=vectorizer.transform(x_test)
model.predict(x_test_count)

array([0, 0, 1, ..., 0, 0, 0], dtype=int8)

In [30]:
model.score(x_test_count,y_test)

0.9883303411131059